/*p{
     font-style: oblique;
}斜体*/
/*p{
     color:rgb(52,150,150)/*等价于#00BFFF后面再加两位16进制也表示透明度（0~255） rgba后面的代表的是透明度(52,150,150,0.5)*/
/*}RGB值，三原色（红绿蓝（0，0，0是纯黑）（255，255，255是白色））*/
/*p{
    text-indent:2em;这个是空格，给文章开头空两格
}*/
/*p{
    text-align（只针对于块级元素里的行内元素）: left;right;center;justify;(分别是居左，居右，中间,对齐)
}*/