/*.wrapper {*/
/*     !*max-width:500px;*!*/
/*    !*min-width: 200px;*!*/
/*    width: 80%;*/
/*    height: 200px;*/
/*    !*margin: 0 auto;导致盒子居中*!*/
/*    background-color: cyan;*/
/*    !*outline-style: dotted;可以按照下面方式进行简单描写，这个标签是位于盒子外面的*!*/
/*    !*outline-width: 2px;*!*/
/*    !*outline-color: blue;*!*/
/*    outline:2px solid purple;*/
/*    !*border-radius: 50px;控制边角圆环*!*/
/*    !*outline-offset: 10px;离盒子的边缘的距离*!*/

/*}*/
/*input:focus{*/
/*    outline:none;会把边框的加粗给去掉*/
/*}*/
/*.container {*/
/*    width:200px;*/
/*    height:100px;*/
/*    background-color: #f6a0a0;*/
    /*box-shadow: 0(横向向左 0（纵向向下 10px（模糊半径，发散 10px（扩散半径 gray;在有外部盒子大于内部盒子且多余的盒子被隐藏的情况下，阴影会被折断，也可以有两个阴影，两个阴影各写一行，中间用逗号隔开*/
    /*box-shadow: 0 0 50px grey inset;这是内阴影*/
    /*text-shadow: 0 0 5px black;给文本加阴影*/
/*}*/
/*.outer-box {*/
/*    width:300px;*/
/*    height:200px;*/
/*    overflow: hidden;*/
/*}*/
/*.container img{*/
/*    vertical-align: middle;改变图片的位置和基线，行线等对齐*/
/*}*/
/*.vip{*/
/*    display:inline-block;*/
/*    width:200px;*/
/*    height:100px;*/
/*    background-position: -60px 0;*/
/*    background-image:url("图片的链接") ;*/
/*.container {*/
/*    width:200px;*/
/*    height:100px;*/
/*    padding:20px;*/
/*    !*background-image: radial-gradient( circle  at left top ,closest-side,red,blue);镜像*!*/
/*    !*background-image: linear-gradient(to right,red,blue);，默认从上到下也可以多个颜色，在颜色后面加上百分比，就是这种颜色的占比，这个是从左到右，也可以到右上角（right top），或者改成角度80deg*!*/
/*    !*background-clip: content-box;只留下内容区*!*/
/*    !*background-clip: padding-box;裁剪除了内容和padding之外的区域*!*/
/*}*/
/*.container {*文字渐变/
/*    color:transparent;*/
/*    background-image: linear-gradient(to right,pink ,blue);*/
/*    background-clip: text;*/
/*}*/
/*.container {*/
/*    !*filter:blur(10px);高斯模糊滤镜*!*/
/*    !*filter:brightness(0.5) 图片的亮度;*!*/
/*    !*filter:contrast(100%);对比度*!*/
/*    !*filter:grayscale(50%) ;调灰度*!*/
/*    !*filter:invert(100%);反着的颜色*!*/
/*    !*filter:sepia(100%);复古的颜色*!*/
/*    !*color:#227fd8;*!*/
/*    !*filter:hue-rotate(0deg);进行指针改变颜色*!*/
/*    !*filter:drop-shadow(0 0 4px #000000) 添加阴影;*!*/
/*    width:200px;*/
/*    height:200px;*/
/*    padding:10px 15px;*/
/*    border-radius: 10px;*/
/*    border:2px solid #5aa9fd;*/
/*    background-size: cover;*/
/*    !*background-image: url("../img/1.jpg");*!*/

/*}*/
body {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../img/1.jpg');
}
.container {
    width:150px;
    height:150px;
    padding:10px 15px;
    border-radius:10px;
    background-color: #ffffff60;
    /*backdrop-filter: blur(20px);在照片前面添加的卡片进行修饰*/
}


