/*!*.box{*!*/
/*!*    width: 300px;*!*/
/*!*    height: 100px;*!*/
/*!*    background-color: lightseagreen;*!*/
/*!*    border: 3px solid pink;*!*/
/*!*    !*border-left: 3px solid pink;上下左右都可以改成top，left，right，botton，会覆盖上面的border的颜色*!*!*/
/*!*    !*border-width: 3px;*!*!*/
/*!*    !*border-style:groove;!*(可以换样式)*!*!*!*/
/*!*    !*border-color: deeppink;*!*!*/
/*!*    !*border-radius: 40px;!*将四角换成圆的,最大半径是height的一半*!*!*!*/
/*!*    !*border-top-left-radius: 100px;(左上角的弧度)*!*!*/
/*!*!*    border-radius: 100px 20px;(左上+右下，，，右上+左下)*!*!*/
/*!*!*    border-radius: 100px 20px 10px;(左上，，，右上+左下...右下)*!*!*/
/*!*!*    border-radius: 100px 20px 10px 10px;(分别作用于四个角，是顺时针方向)*!*!*/
/*!*    border-radius: 10px 20px 30px 20px/10px 20px 30px 20px;(先是横着，再是竖着，以四角为圆心，然后画圆)*!*/
/*---------------------------------------------------------*/
/*!*}*!*/
/*.box{*/
/*    width:300px;*/
/*    height:100px;*/
/*    background-color:lightseagreen;*/
/*    padding: 20px;!*隔开文本与边框的距离，也可以top，botton等等方位，也可以一个，两个，三个，四个，按照顺序进行设置边框，如果是改成百分制来计算，它的长和宽全部都是根据父级盒子的宽来决定，对于行内元素，只会对左右有效果*!*/
/*    border:3px solid deeppink;*/
/*    box-sizing: border-box;!*是将边框全部算进来，符合设置的长和宽*!*/
/*    -----------------------------------------------*/
/*}*/

/*.outer-box{*/
/*    width: 200px;*/
/*    height: 50px;*/
/*    background-color: red;*/
/*}*/
/*.inner-box{*/
/*    width: 100px;*/
/*    height: 30px;*/
/*    background-color: lightseagreen;*/
/*    margin-top: 20px;!*这是margin的折中效果，会对margin会有特殊的效果，在外层盒子中加padding-top，或者border-top，BFC*!*/

/*}*/
/*.HelloKitty{*/
/*    width: 100px;*/
/*    height: 100px;*/
/*    background-color: red;*/
/*    margin: auto;!*居中效果*!*/
/*}*/
.outer-box{
    width: 200px;
    margin: 20px 0;这种折叠情况在空的盒子里面加有字就行
}