/*.box{*/
/*    width: 200px;*/
/*    height: 100px;*/
/*    background-color: red;*/
/*    white-space: nowrap;*/
/*    overflow-x:auto;!*hidden(直接隐藏超出部分，可以强制滚动）,clip（裁切掉超出内容）,auto,scroll(强制加滚动条）;*!*/
/*--------------------------------------*/
/*}*/
/*.inner-box{*/
/*    width: 100px;*/
/*    height: 50px;*/
/*    background: lightseagreen;*/
/*    position:!*sticky粘滞定位; fixed固定定位;absolute绝对//可以加上outer里面的position: relative;;relative相对;*!*/
/*    top: 30px;*/
/*}*/
/*.outer-box{*/
/*    margin-top: 50px;*/
/*    width:400px;*/
/*    height: 2000px;*/
/*   border: 1px solid #000;*/
/*    !*position: relative;*!*/
/*    ---------------------------------------------*/
/*}*/
/*.box{*/
/*    width: 100px;*/
/*    height: 100px;*/
/*    position: absolute;*/
/*}*/
/*.a{*/
/*    background-color: lightseagreen;*/
/*    left: 80px;*/
/*    top: 80px;*/
/*    z-index: 20;*/
/*}*/
/*.b{*/
/*    background-color: yellow;*/
/*    left: 50px;*/
/*    top: 50px;*/
/*    z-index: 10;*/
/*}*/
/*---------------------------------------------*/
.box {
    width: 100px;
    height: 100px;
    position: absolute;
}
.parent{
    position: relative;
    z-index: 1;
}
.child{
    position: absolute;
    left: 50px;
    top: 50px;
    z-index: 999;
    background-color: red;
}
.other {
    position: relative;
    z-index: 2;
    left: 80px;
    top: 80px;
    background-color: blue;
}