/*span{
    text-decoration: overline;line-through（和标签<s>作用相同;underline;(分别是上划线；中划线和下划线）
}*/
/*span {
    text-decoration: underline red solid（实心线）；dotted（点状线）;wavy(波浪线）;dashed（虚线）;double（双实线）
}*/
/*span {*/
/*    text-decoration: underline red solid 10px;*/
/*}*/
/*p a{*/
/*    text-decoration: none;*/
/*}*/
/*p{
   text-transform: capitalize（每一个单词首字母大写）；lowercase(小写）；uppercase(大写）;
}*/
/*p{*/
/*    line-height: 1.8;*/
/*}*/
/*p{*/
/*    letter-spacing: 15px;
/*}*/
/*p{*/
/*    word-spacing: 15px;!*每个字母之间的距离*!*/
/*}*/
/*p{*/
/*    word-break: break-all;(对于单词来说强制切断)*/
/*}*/
/*p{*/
/*    word-break: normal;*/
/*    overflow-wrap: break-word;(用于超长单词)*/
/*}*/
/*p {*/
/*    word-break: normal;*/
/*    text-wrap: wrap;（控制文本是否换行）；balance（保持一致）*/
/*}*/
