/*.box{*/
/*    width:300px;*/
/*    height:100px;*/
/*}*/
/*.box{*/
/*    width:fit-content;(适应文本的长度)*/
/*    height:100px;(这个也可以改成fit-content)*/
/*}*/
/*.box{*/
/*    width:min-content;(最短的长度，max-content是最长的)*/
/*    height:100px;*/
/*}*/
.outer-box{
    width: 400px;
    height:100px;
    background-color: aqua;
}
.inner-box{
    height: 50%;
    width: 50%;
    background-color: darkkhaki;
}
/*body{*/
/*    width: 200px;（里面的代码所写的页面）*/
/*html{*/
/*    width: 150px;（就是可以全部展示的页面*/
/*}*/
/*.highlight{*/
/*    background-color: deeppink;*/
/*}给重要文字添加背景颜色*/
/*.HelloKitty {*/
/*    width: 800px;   !* 设置宽度 *!*/
/*    height: 600px;  !* 设置高度 *!*/
/*    background-image: url("../img/1.jpg");!*.表示当前目录，..表示返回上一级目录）*/
/*    background-size: cover;       !* 背景图铺满 *!*/
/*    background-repeat: no-repeat; !* 不重复 *!*/
/*    background-position: center;  !* 居中显示 *!*/
/*}*/
.HelloKitty {
    width: 200px;
    height: 200px;
    background-image: url("../img/1.jpg");
    background-size: contain;  /* 让背景图完整显示，保持比例 */
    background-repeat: no-repeat;
    background-position: center;（和size一块写的时候，必须得加一个斜杠）
}

