/*.box {*/
    /*width:500px;*/
    /*height:500px;*/
    /*background-color: yellow;*/
    /*border:1px solid grey;*/
    /*perspective: 500px;添加3D效果*/
    /*perspective: 500px;*/
    /*transform:translate(10px,20px);（先是横向移动，再是纵向移动，仅仅是视觉效果）*/
    /*transform:translateX(20px) 向右移动;*/
    /*transform:scale(2) ;以自己中心位置，放大或者缩小*/
    /*transform: scale(0.5,2);先是横着再是纵向*/
    /*transform:rotate(45deg) 转动角度;*/
    /*transform:skew(45deg) ;拉着两个角倾斜*/
    /*transform-origin:left top;将中心点变成左上角，或者改成10px 10px的位置*/
    /*transform:rotate(45deg) translate(100px) 先旋转后平移，其中的X轴和Y轴也会变化 ;*/
/*}*/
.in {
    width: 100px;
    height: 100px;
    background-color: cyan;
    /*transition-property: background-color;过度的属性*/
    transition-property: transform;
    transition-duration: 0.4s;
    /*transition-delay: 0.4s;进行延迟效果，一般位于第二个*/
    /*transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.675)自己控制速度 ;*/
    /*transition-timing-function: steps(3) 卡三下;*/
    /*transition-timing-function: ease-in ;前面慢后面快*/
    /*transition-timing-function: ease-in-out 前面慢后面也慢;*/
    /*transition-duration: 0.4s;过渡的时间，一般位于第一个*/
    &:hover{
        /*background-color:purple;鼠标放上去，会变成紫色*/
        /*transform:scale(1.5);鼠标放上去，改变大小*/
    }
    /*transform:rotateY(80deg) ;得在perspective有的时候使用绕着Y轴转动*/
    /*transform:translateZ(200px);是画面的靠近靠远得在perspective有的时候*/
    /*transform:rotateX(45deg);*/
    /*transform-style: preserve-3d;使in1里面也是3D效果，层层累加*/
    /*opacity: 0;*透明度，1是完全不透明/

     */
}
/*.in1 {*/
/*    width:50px;*/
/*    height:50px;*/
/*    background-color: darkblue;*/
/*    transform:rotateY(45deg);*/
/*}*/